@use "variabless" as v;
@use "mixins" as m;

.hero {
  margin-top: 40px;
  padding-block: 3rem;
  // .hero__title-block
  &__title-block {
  }
}
// .swiper {
//   max-width: 600px;
//   // height: 300px;
//   &-wrapper {
//     width: 600px;
//     &-slide {
//       width: 100%;
//       &__img {
//         object-fit: cover;
//         height: 100%;
//         width: 100%;
//       }
//     }
//   }
// }

.title-block {
  padding-block: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // .title-block__left
  &__left {
    display: flex;
    flex-direction: column;
    @media (max-width: v.$media667) {
      width: 100%;
    }
  }
  // .title-block__stars
  &__stars {
    flex-basis: 100%;
    .icon {
      fill: v.$color-grey;
      // .icon_star
      &_star {
        width: 8px;
        aspect-ratio: 1;
      }
    }
    @media (max-width: v.$media667) {
      flex-basis: content;
    }
  }
  // .title-block__wrap
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .title-block__title
  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.4rem;
    color: v.$text-color;
    margin-right: 15px;
    @media (max-width: v.$media667) {
      flex-basis: 100%;
    }
  }
  // .title-block__span
  &__span {
    font-family: v.$font-family;
    font-weight: 600;
    font-size: 10px;
    color: v.$color-white;
    background-color: v.$bg-btn;
    padding: 5px 9px;
    border-radius: 3px;
    transform: translateX(-50%);
    @media (max-width: v.$media667) {
      //   // left: 0;
      order: -1;
      transform: translateX(0);
    }
  }
  // .title-block__subtitle
  &__subtitle {
    font-family: v.$font-family;
    font-size: 12px;
    color: v.$text-color;
  }
  // .title-block__right
  &__right {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    background-color: v.$bg-btn;
    padding: 8px;
    border-radius: 5px;
    @media (max-width: v.$media667) {
      display: none;
    }
  }
  // .title-block__rattings
  &__rattings {
    font-family: v.$font-family;
    font-weight: 600;
    font-size: 8px;
    color: v.$color-white;
  }
  // .title-block__counter
  &__counter {
    font-family: v.$font-family;
    font-weight: 700;
    font-size: 14px;
    color: v.$color-white;
    & span {
      font-size: 10px;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  grid-template-areas:
    "slider price"
    "slider map";
  // .main__slider-block
  &__slider-block {
    grid-area: slider;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.6) 0%, rgba(255, 255, 255, 0.16) 100%);
      z-index: 1;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  // .main__slider
  &__slider {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
  }
  // .main__price
  &__price {
    grid-area: price;
    width: 100%;
  }
  // .main__map
  &__map {
    grid-area: map;
    width: 100%;
    height: 100%;
    // max-width: 346px;
    // min-height: 213px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "slider slider"
      "price map";
  }
  @media (max-width: v.$media500) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "slider "
      "price"
      "map";
    &__price{
      width: 100%;
    }
  }
}

.price {
  &-card {
    // max-width: 350px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: v.$bg-blue;
    padding: 29px 29px 26px 26px;
    border-radius: 4px;
    // .price-card__wrap
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    // .price-card__left
    &__left {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
    // .price-card__span
    &__span {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
      font-family: v.$second-family;
      font-weight: 400;
      font-size: 10px;
      color: #fff;

      &_price {
        font-family: v.$second-family;
        font-weight: 800;
        font-size: 24px;
        color: #fff;
      }
      & svg {
        width: 14px;
        height: 14px;
        fill: v.$color-white;
      }
    }
    // .price-card__right
    &__right {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    // .price-card__bottom
    &__bottom {
      flex: 1 1 auto;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 10px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      color: #fff;
      margin-bottom: 17px;
      &-call{
        display: flex;
        color: inherit;
        gap: 23px;
        &::before{
          content: "";
          display: inline-block;
          // display: flex;
          align-items: center;
          z-index: 1;
          position: relative;
          width: 16px;
          height: 16px;
          background: url(../img/svg/call.svg) center / cover no-repeat;
          fill: #fff;
        }
      }
    }
    .btn-big {
      
      text-align: center;
      width: 100%;
      padding-block: 13px;
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 14px;
      color: #fff;
    }
  }
}
