// font
@import url(https://fonts.googleapis.com/css?family=Mulish:300,regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:regular,600,800);
$font-family: "Mulish", sans-serif;
$second-family: "Nunito", sans-serif;

// colours
$background: #f5fafe;
$color-white: #fff;
$color-grey: #bdbdbd;
$bg-btn: #e6143a;
$name-col: #ec1f46;
$bg-btn-active: #ec1f44b6;
$bg-blue: #0a223d;
$text-color: #333;

// media
$media885: 885px;
$media768: 768px;
$media667: 667px;
$media627: 627px;
$media500: 500px;
$media390: 390px;
