@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Mulish:300,regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:regular,600,800);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Mulish", sans-serif;
  background-color: #f5fafe;
  font-size: 62.7%;
}

img {
  display: block;
  width: 100%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

use {
  width: 100%;
  height: 100%;
}

.wrapper {
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; /* Растягиваем основное содержимое на всю доступную высоту */
}

[class*=__container] {
  border-left: 1px solid #D4de31;
  border-right: 1px solid #D4de31;
  max-width: 1040px;
  padding-inline: 15px;
  margin-inline: auto;
}
@media (max-width: 768px) {
  [class*=__container] {
    max-width: 705px;
    padding-inline: 10px;
    margin-inline: auto;
  }
}

.input {
  width: 350px;
  height: 40px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.input__inp {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f5fafe;
  padding-right: 22%;
  padding-left: 23px;
  z-index: 1;
  overflow: hidden;
}
.input__inp:focus {
  font-weight: 500;
  background-color: #fff;
  outline: 3px solid rgba(236, 31, 68, 0.7137254902);
}
.input__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  border: none;
}

.button {
  color: #fff;
  border: none;
  background-color: #E6143A;
  cursor: pointer;
}
.button:active {
  background-color: rgba(236, 31, 68, 0.7137254902);
}
.button :focus {
  outline-color: #E6143A;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 20px;
  height: 15px;
  position: relative;
  z-index: 999;
}
.burger::before, .burger::after {
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  left: 0;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
}
.burger.active::before {
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translateY(50%);
      -ms-transform: rotate(-45deg) translateY(50%);
          transform: rotate(-45deg) translateY(50%);
}
.burger.active .burger__line {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header {
  background-color: #fff;
  position: relative;
  max-height: 200px;
}
.header__top {
  padding-block: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .header__top {
    padding-block: 30px;
  }
}
.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-link .icon_logo {
  max-width: 175px;
  max-height: 18px;
}
.header__search .icon_search {
  width: 16px;
  height: 16px;
  fill: #fff;
}
@media (max-width: 768px) {
  .header__search {
    width: 340px;
  }
}
@media (max-width: 667px) {
  .header__search {
    display: none;
  }
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}
.header__user-name {
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
}
@media (max-width: 667px) {
  .header__user-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: space-between;
        flex-wrap: space-between;
    margin-top: 10px;
    color: #fff;
  }
}
.header__user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 667px) {
  .header__user-img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 667px) {
  .header__user {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 667px) {
  .header__burger {
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__bottom {
  background-color: #0a223d;
  -webkit-box-shadow: 0 5px 10px #0a223d;
          box-shadow: 0 5px 10px #0a223d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 667px) {
  .header__bottom {
    z-index: 999;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .header__bottom.open-menu {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    top: 78px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow-y: auto;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-block: 31px;
}
@media (max-width: 667px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
  }
}
.header__item_hidden {
  display: none;
}
@media (max-width: 667px) {
  .header__item_hidden {
    display: block;
  }
}
.header__item_mobile-visible {
  display: block;
}
.header__link {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) {
  .header__link {
    font-size: 12px;
  }
}

.hero {
  padding-block: 3rem;
}
.title-block {
  padding-block: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title-block__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 667px) {
  .title-block__left {
    width: 100%;
  }
}
.title-block__stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.title-block__stars .icon {
  fill: #bdbdbd;
}
.title-block__stars .icon_star {
  width: 8px;
  aspect-ratio: 1;
}
@media (max-width: 667px) {
  .title-block__stars {
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
}
.title-block__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.title-block__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2.4rem;
  color: #333;
  margin-right: 15px;
}
@media (max-width: 667px) {
  .title-block__title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.title-block__span {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  background-color: #E6143A;
  padding: 5px 9px;
  border-radius: 3px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 667px) {
  .title-block__span {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.title-block__subtitle {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  color: #333;
}
.title-block__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  background-color: #E6143A;
  padding: 8px;
  border-radius: 5px;
}
@media (max-width: 667px) {
  .title-block__right {
    display: none;
  }
}
.title-block__rattings {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 8px;
  color: #fff;
}
.title-block__counter {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.title-block__counter span {
  font-size: 10px;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  grid-template-areas: "slider price" "slider map";
}
.main__slider-block {
  grid-area: slider;
  position: relative;
}
.main__slider-block::after {
  content: "";
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.6)), to(rgba(255, 255, 255, 0.16)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.6) 0%, rgba(255, 255, 255, 0.16) 100%);
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
}
.main__slider {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}
.main__price {
  grid-area: price;
  width: 100%;
}
.main__map {
  grid-area: map;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.main__map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "slider slider" "price map";
  }
}
@media (max-width: 500px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "slider " "price" "map";
  }
  .main__price {
    width: 100%;
  }
}

.price-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #0a223d;
  padding: 29px 29px 26px 26px;
  border-radius: 4px;
}
.price-card__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.price-card__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.price-card__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
}
.price-card__span_price {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}
.price-card__span svg {
  width: 14px;
  height: 14px;
  fill: #fff;
}
.price-card__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.price-card__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 17px;
}
.price-card__bottom-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
  gap: 23px;
}
.price-card__bottom-call::before {
  content: "";
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(../img/svg/call.svg) center/cover no-repeat;
  fill: #fff;
}
.price-card .btn-big {
  text-align: center;
  width: 100%;
  padding-block: 13px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.subscribe {
  padding-block: 98px 87px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 34, 61, 0.8))), url(../img/Rectangle25.jpg) center/cover no-repeat;
  background: linear-gradient(rgba(10, 34, 61, 0.8)), url(../img/Rectangle25.jpg) center/cover no-repeat;
}
@media (max-width: 627px) {
  .subscribe {
    padding: 76px 0px 83px 10px;
  }
}
.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .subscribe__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 627px) {
  .subscribe__wrap {
    display: block;
  }
}
.subscribe__suptitle {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 627px) {
  .subscribe__suptitle {
    margin-bottom: 5px;
  }
}
.subscribe__title {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 627px) {
  .subscribe__title {
    margin-bottom: 40px;
  }
}